/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .index-card-link {
    color: black; /* Ensures text is black */
  }
  
  .index-card-link:hover, .index-card-link:active {
    text-decoration: none; /* Removes underline on hover and click */
    opacity: 0.8; /* Slight fade effect on hover */
  }
  
  /* Alternatively, you could use a box shadow or border change for hover effect */
  .index-card-link:hover .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Example box shadow effect */
  }

/**USED IN VIEWS/ARTICLE/_article*/
  .title-underline {
    position: relative;
    display: inline-block;
  }
  
  .title-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    bottom: -5px;
    left: 0;
  }